<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mvvm</title>
  </head>
  <body>
    <div id="app">
      <p>{{counter}}</p>
      <p @click="clickHandle">{{count}}</p>
      <p v-html="htmlContent"></p>
      <input type="text" v-model="username" />
      <p>{{username}}</p>
    </div>
    <script src="./mvvm.js"></script>
    <script>
      const app = new Mvvm({
        el: '#app',
        data: {
          counter: 1,
          count: 0,
          username: '我叫小红',
          htmlContent: "<span style='color: red;'>嘻嘻</span>"
        },
        methods: {
          clickHandle() {
            this.count++
          }
        }
      })
      // 改变counter
      setInterval(() => {
        app.counter++
      }, 1000)
    </script>
  </body>
</html>
